.carros-oferta {
  margin: auto;
}

.carro {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.carro img {
    background-size: auto;
    /* height: 50%; */
}
.nome-carro {
  color: black;
}
.container-carros {
  border: 1px solid blue;
  /* height: 1000px; */
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(3, 80px);
  gap: 1rem;
}
.carro1 {
  grid-column: 2/ 4;
  grid-row: 2/4;
}
.carro2 {
  grid-column: 4/ 6;
  grid-row: 2/4;
}
.carro3 {
  grid-column: 6/ 8;
  grid-row: 2/4;
}
.carro4 {
  grid-column: 2/ 4;
  grid-row: 4/6;
}

.carro5 {
  grid-column: 4/ 6;
  grid-row: 4/6;
}
.carro6 {
  grid-column: 6/ 8;
  grid-row: 4/6;
}
