.menu-sanduba{
    height: 3px;
    width: 30px;
    margin:0  ;
    background-color: white;
}
.menu-sanduba::before, .menu-sanduba::after{
    content: '';
    height: 3px;
    width: 30px;
    background-color: white;
    margin-top: 5px;
    display: block;
}
.btn-menu-sanduba{
    border:none;
    background: none;
}