@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tilt+Neon&display=swap');
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    
}

.entrar{
    position: absolute;
    right: 180px;
    top: 180px ;
    color: black;
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    font-size: 15px;
    box-shadow: 2px 2px 3px 1px rgb(105, 105, 105);
    cursor:pointer; 
}

/* containers */
.container-check-in{
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
    width: 85vw;
    font-size: 20px;
    margin: 100px 80px;
    
}
.check-in{
    display: flex;
    padding: 30px;
    box-shadow: 2px 2px 3px 4px rgb(105, 105, 105);
    width: 100%;
    height: 100%;
    height: inherit;
    margin: inherit;
    
}
.lado-a-lado{
    display: flex;
    align-items: center;
    margin: 8px 0 0 0 ;
}
.container-retirada{
    display: flex;
    flex-flow: column wrap;
    margin-right: 300px;

}
.container-entrega{
    display: flex;
    align-items: end;
}


.container-data-retirada,
.container-local-retirada,
.container-data-entrega,
.container-data-entrega,
.container-hora-retirada,.container-hora-entrega{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px 2px rgb(105, 105, 105);
    height: 50px;
    width: 35%;
    margin-top: 10px;
}

.container-local-retirada{
    height: 30px;
}
.container-hora-entrega, .container-hora-retirada
{
    margin-left:30px ;
    
}
/* Fim Containers */

.local, .retirada, .entrega{
    margin: 5px 20px;
    font-weight: 700;
}
.span-check-in{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.local-retirada{
    width:100%;
    height: 20px;
}

/* imagens */
.img-calendario{
    width: 20px;
    height: 20px;
}
.img-relogio{
    width: 20px;
    height: 20px;
}
.img-localizacao{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
/* fim imagens */

/* inputs */
input{
    
    height:100%;
    width: 150%;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    /* text-indent: 20px; */
    border: none;
    outline: none; 

}

input:focus{
    border:2px solid black;
    outline: white;
    box-shadow: none;
}
/* fim inputs */

/*------------------------------------------------- carros aluguel --------------------------------------------*/
.carros-aluguel{
    display: grid;
    grid-template-columns: repeat(3, 15%); 
    width: 100vw;
    padding: 30px; 
    gap: 80px 15vw;
    margin: 10px 20px;
}
.container-carro{
    position: relative;
    display: flex;
    flex-flow: column ;
    align-items: center;
    border-left: 1.5px  rgba(142, 142, 142, 0.100);
    box-shadow: 2px 2px 3px 4px rgb(105, 105, 105);
    border-style: groove;
    border-radius: 3px;
    height: 350px;
    width: 300px;
    margin-left: 50px;
    padding: 30px;
   
}
.container-img{
    
    margin: 10px 30px;
    order: -1;
    width: 100%; 

}
.img-carros{
    padding:0 10px ;
    width: 280px;
    height: 150px;
    object-fit: cover;
   
}
.container-nome-ano{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    height: 40px;
    width: 100%;
}
.container-info-carro{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    width: 200px;
    margin-top: 30px;
}

a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.ano-carro{
    border: 1px dotted black;
    padding: 3px 20px;
    border-radius: 3px;
}
.nome-carro{
    font-size: 30px;
}
.button-alugue{
    position: absolute;
    left: 40px;
    background-color: #06163E;
    color: white;
    border: none;
    border-radius: 4px;
    width: 180px;
    padding:5px 20px;
    cursor: pointer;
}
.valor-aluguel{
    position: absolute;
    right: 20px;
    font-size: 20px;
    margin-left: 10px;
}
.detalhes{
    position: absolute;
    bottom: 50px;
    font-size: 1.1rem;
}
/* Fim carrros aluguel */

/* Carros aluguel detalhes */


.container-detalhes{
   display: flex;
   flex-flow: column wrap;
   height: 200px;
}
.container-detalhes span{
    width: 100px;
    margin-right: 30px;
}
.container-detalhes img{
    width: 40px;
    margin: 0 10px 10px;
    
}
.consumo-litragem{
    display: flex;
    flex-flow: column wrap;
    height: 40px;
    margin-bottom: 30px;
}
.tipo-consumo{
    margin: 0 30px;
}





















@media screen and (max-width:600px){
   
    .carros-aluguel{
        display: grid;
        grid-template-columns:  300px;
    }

}