
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,h2{
    text-align: center; 
    font-size: 30px;
    line-height: 1.0;
    color: #00095B;

}

body{
       /* vw: viewport width */
        margin: 1rem 2rem 1rem 2rem;/* margem com ajuste automático */
        font-size: 14px; /* o padrão é 16px */
        font-family: "Open Sans", sans-serif;
        font-weight: 150;
        background-color: #ebebeb;      
};

p{
    text-align: center;
}


.div1 {
        display: flex;
        flex-direction: column;

}

.div2 {
        display: flex;
        flex-direction: column;
}

.div3 {
        display: flex;
        flex-direction: column;
}

.div4 {
        display: flex;
        flex-direction: column;
}



