


*{
  padding:0;
  margin:0;
  box-sizing: border-box;   
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
/* 'body{
    width: 100%;
    height: 100vw;
    display: flex;
    justify-content:center;
    background-color:#ffffff ;
    margin-top: 50px;
}' */

.login{
    width: 100vw;
    /* height: 50vh; */
    display: flex;
    /* box-shadow: 1px 5px 10px rgba(0, 0, 0, .212); */

    
}
img{
    width: 100%;
    height:98vh;
}

.form-image {
     /* width:100%; */
     height: 10%;
   

}

.form{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff ;
    padding: 3rem;
 }  
.form-login{
    margin: 0 0 0 200px;
    width: 300px;
    /* display: flex;   
    flex-flow: column;
    justify-content: center;
    align-items: center; */
}



    
.title-login{
    text-transform: uppercase; /* Transforma o texto em maiúsculo */
    font-weight: bold; /* Define o texto em negrito */
    text-align: center; /* Alinha o texto horizontalmente ao centro */

}

input-box{
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    color:white
}

input{
    /* width: 70%; */
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    align-items: center;
    width: 410px;

     margin-top:5px; 
    
}

.btn-login{
    background-color: #00095b;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    background-position: center;
    align-items: center;
    margin: 0 0 0 90px;
    margin-top: 20px;
    width: 180px;
    height: 50px;
}
.label-login{
    /* margin-top: 50px; */
    justify-content: center;
}

.titulo-login{
    text-align: center;
    text-transform: uppercase; /* Transforma o texto em maiúsculo */
    font-weight: bold; /* Define o texto em negrito */
    text-align: center; /* Alinha o texto horizontalmente ao centro */
    margin-left: 250px;
    margin-bottom: 30px;

}
#nome{
    margin-bottom: 20px;
}

input::placeholder {
    position: absolute;
    bottom: 5px;
}
label{
  
}


