#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.logo img {
    width: 141px;
    height: 118px;
}

#menu ul {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 3rem;
    height: 52px;
    margin-inline-end: 3rem;
}

#menu ul li {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

#menu ul li:last-child img {
    height: 20px;
}

#menu ul li:last-child a {
    background-color: #030841;
    color: #f5f5f9;
    font-weight: bold;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
    height: 70%;
    padding-bottom: 0;
}

#menu ul a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

#menu ul a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    border-bottom: 2px solid #030841;
}

.navbar {
    display: none;
}