@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Inter", sans-serif;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    display: flex;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* ----------------------------- DADOS PESSOAIS ---------------------------------------- */

.dados-pessoais {
    padding: 20px;
    margin-bottom: 20px;
    width: 320px;
}

.dados-pessoais h2 {
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.dados-pessoais p {
    font-size: 14px;
    margin: 0 0 5px;
    font-size: 1rem;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------- */
 
/* ------------------------------ FORMA DE PAGAMENTO ------------------------------------ */

.forma-pagamento section {
    margin-bottom: 20px;
    justify-content: left;
    float: left;
    display: flex;
    margin-left: 10px;

}

.forma-pagamento h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 10px;
}

.forma-pagamento form {
    display: flex;
    flex-direction: column;
}

.forma-pagamento label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    
}

.forma-pagamento input[type="radio"] {
    margin-right: 10px;
}

.tipo-pagamento {
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.forma-pagamento label img {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

/* -------------------------------------------------------------------------------------- */

/* --------------------------------- KITS ----------------------------------------------- */

.kits {
    margin-right: 40px;
    max-width: 832px;
    /* width: 100%; */
    align-items: flex-start;
    background-color: #fff;
}

.kits h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.kit {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 2px;
    /* border-top: 1px solid #ccc; */
    display: flex;
    /* align-items:flex-start; */
    padding: 20px;
    cursor: pointer;
}

.kit:first-child {
    border-top: 5px;
    cursor: pointer;
}

.kit input[type="radio"] {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.kit label {
    /* display: flex; */
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    display: block;
    /* padding: 20px; */
    /* border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8e8e8; */
    position: relative;
}

.header-kits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.kit-titulo {
    margin-right: 40px;
    font-size: 18px;
    font-weight: bold;
}

.kit-preco {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
}

.kit p {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    cursor: pointer;
    padding: 10px;
    /* background-color: #f9f9f9; */
}

.kit input[type="radio"]:checked + label {
    background-color: #eee;
    border-left: 5px solid #001f5b;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------- Estilo do bloco de resumo da reserva -------------------------- */
.resumo-reserva {
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 2px;
}

.resumo-reserva h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #001f5b;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: -20px;
}

.reserva, .carro-selecionado, .kit-selecionado, .valor-total {
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.carro-selecionado h3, .kit-selecionado h3, .valor-total h3 {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    margin-top: 5px;

}

.reserva p, .carro-selecionado p, .kit-selecionado p, .valor-total p {
    text-align: justify;
    line-height: 1.6;
    margin: 5px 0;
    color: #000;
}

.reserva strong, .carro-selecionado strong, .kit-selecionado strong, .valor-total strong {
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.carro-selecionado img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.carro-selecionado .preco, .kit-selecionado .preco, .valor-total .preco {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.carro-selecionado .preco {
    display: block;
    margin-top: 10px;
}

.kit-selecionado .preco {
    display: block;
    margin-top: 5px;
}

.valor-total {
    border-bottom: none;
    text-align: right;
}

button {
    display: block;
    width: 100%;
    background-color: #001f5b;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004080;
}