@media screen and (max-width: 430px) {

    header {
        background-position: -500px;
    }

    #menu ul {
        display: none;
    }

    .navbar {
        display: inline;
        position: absolute;
        right: 0.2rem;
        top: 1.4rem;
    }

    .navbar:first-of-type a {
        color: #f5f5f9;
        text-decoration: none;
    }

    .navbar-nav {
        gap: 0.8rem;
    }

    .offcanvas,
    .dropdown-menu {
        background-color: #06163E;
    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-menu li {
        margin: 1rem 1rem;
    }


    .nav-link {
        color: #f5f5f9;
    }

    .fa-xmark {
        margin-bottom: 1.5rem;
    }

    .fa-solid {
        margin-right: 0.5rem;

    }

    .btn-fechar {
        border: none;
        background-color: #06163E;
        cursor: pointer;
    }

    .btn-dropdown {
        border: none;
        cursor: pointer;
        padding: 0;
        background-color: transparent;
    }

    .textos-header {
        margin: 0;
    }

    .busca-carro {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 1rem;
    }

    .busca-carro select {
        border-radius: 0;
        grid-column-start: 1;
        grid-column-end: 7;
        margin-bottom: 1rem;
        width: auto;
    }


    .busca-carro input:nth-child(2) {
        background-image: url(/icones/location-dot-solid.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 0.8rem 0.7rem;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 2/3;
        height: 47px;
        width: auto;
    }

    .busca-carro input:nth-child(3) {
        grid-column: 1 / 4;
        width: auto;
        height: 45px;
    }

    .busca-carro input:last-of-type {
        grid-column-start: 4;
        grid-column-end: 7;
        width: auto;
        height: 45px;
    }

    .busca-carro button {
        border-radius: 50px;
        width: auto;
        height: 55px;
        margin-top: 0.2rem;
        grid-column-start: 2;
        grid-column-end: 6;
        background-position: 2.5rem center;
    }

    #carrossel {
        display: none;
    }

    #artigos {
        flex-direction: column;
    }


    footer {
        width: 100%;
        height: 100%;

    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 5.5rem;
        gap: 2rem;
    }

    .footer-ul {
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 430px) and (max-width: 835px) {

    header {
        min-height: 70vh;
        background-position: center;
    }

    .busca-carro {
        flex-wrap: nowrap;
    }

    /* Carrossel */

    #carrossel {
        height: 600px;
    }

    .carousel-item:first-child img {
        width: 100%;
        height: auto;
        transform: translate(-1%, -12%);
    }    

    .carousel-item:nth-child(2) img {
        width: 95%;
        transform: translate(-3%, -12%);
    }

    :nth-child(2) .carousel-caption {
        bottom: 1.8rem;
    }

    .carousel-item:nth-child(3) img {
        width: auto;
        height: 38vh;
        transform: translate(10%, -15%);
    }

    :nth-child(3) .carousel-caption {
        top: 25rem;
    }

    .carousel-item:nth-child(4) img {
        width: 95%;
        height: 100%;
        transform: translate(-2%, -12%);
    }

    .carousel-caption {
        height: auto;
        width: 100%;
        left: 0.5rem;
        top: auto;
        bottom: 4rem;
    }

    :nth-of-type(3) .carousel-caption {
        display: none;
        /* background-color: chocolate; */
        bottom: -1rem !important;
        padding: 0;
    }

    .carousel-caption h1 {
        margin: 0 0 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel-caption button {
        margin-right: 1rem;
        border: none;
        background-color: var(--azul-padrao);
    }

    .carousel-caption a {
        display: none;
    }

    /* Artigos */

    .card img{
        height: 200px;
    }

    /* Footer */

    footer {
        min-height: 30vh;
    }

    .footer-container {
        padding-left: 25px;
        padding-right: 25px;
        gap: 15px;
    }
}