.container-dados-pag-kit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex: 1 1 45%;
    margin: 10px;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    .container-dados-pag-kit {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        flex: 1 1 100%;
        margin: 10px 0;
    }
    
    .resumo-reserva img {
        width: 100%;
        height: auto;
    }

    .resumo-reserva .carro-selecionado,
    .resumo-reserva .kit-selecionado,
    .resumo-reserva .valor-total {
        text-align: center;
    }

    .resumo-reserva .preco {
        display: block;
        margin: 10px 0;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 1.2em;
    }
}

/* Estilos específicos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .container-dados-pag-kit {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    section {
        flex: 1 1 45%;
        margin: 15px;
    }
    
    .resumo-reserva img {
        width: 100%;
        height: auto;
    }

    .resumo-reserva .carro-selecionado,
    .resumo-reserva .kit-selecionado,
    .resumo-reserva .valor-total {
        text-align: center;
    }

    .resumo-reserva .preco {
        display: block;
        margin: 10px 0;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 1.2em;
    }
}