@media (max-width: 1200px) {
    .container-dados-pag-kit, .resumo-reserva {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media screen and (min-width:480px) and (max-width: 768px) {
    .header-kits {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-kits span {
        margin-bottom: 5px;
    }

    .kit {
        padding: 10px 5px;
    }

    .resumo-reserva img {
        width: 100%;
        height: auto;
    }
    @keyframes deslize {
    to{
        transform:translateX(-22%)
    }
}
    .pai-finalizado{
        margin-left: 28%;
    }
    .pai-mensagem{
        width: 330px;
        margin-left: 19%;
    }
    .mensagem-finalizado{
        width: 300px;
    }
    .texto-finalizado{
        height: 30px;

    }

}
@media screen and (min-width:768px) and (max-width:900px){
    @keyframes deslize {
    to{
        transform:translateX(-22%)
    }
}
    .pai-finalizado{
        margin-left: 35%;
    }
    .pai-mensagem{
        width: 380px;
        margin-left: 19%;
    }
    .mensagem-finalizado{
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    main {
        flex-direction: column;
    }

    .acessibilidade {
        top: 6rem;
    }

    .resumo-reserva {
        width: 100%;
    }

    .forma-pagamento {
        margin-bottom: 2rem;
    }

    .kits {
        width: 100%;
    }

  .dados-pessoais, .forma-pagamento, .kits, .resumo-reserva  h2 {
        font-size: 1.2em;
    }

    .preco {
        font-size: 1em;
    }

    .resumo-reserva button {
        width: 100%;
        padding: 15px;
        font-size: 1em;
    }

    .kit {
        padding: 5px;
    }
    
    .pai-finalizado{
        margin-left: 100px;
    }
    .pai-mensagem{
        width: 330px;
        /* margin-left: 208%; */
    }
    .mensagem-finalizado{
        width: inherit;
        flex-wrap: wrap; 
        padding: 20px;
        
    }
    .texto-finalizado{
        height: 22px;

    }
}
@media screen and (min-width:300px) and (max-width:400px) {
    @keyframes deslize {
    to{
        transform:translateX(-22%)
    }
}
    .pai-finalizado{
        margin-left: 71px;
    }
    .pai-mensagem{
        width: 280px;
        margin-left: 19%;
    }

    .mensagem-finalizado{
        width: 234px;
        flex-wrap: wrap; 
        padding: 20px;
        
    }
    .texto-finalizado{
        height: 22px;
        
    }
}

@media screen and (min-width:900px) and (max-width: 1200px){
       @keyframes deslize {
    to{
        transform:translateX(-22%)
    }
}
    .pai-finalizado{
        margin-left: 35%;
    }
    .pai-mensagem{
        width: 280px;
        height: 100px;
        margin-left: 30%;
        background-color: #333333;
    }
    .mensagem-finalizado{
        width: 200px;
    }
    .texto-finalizado{
        font-size: 20px;
        
    }
}