/*FOOTER*/
footer {
    width: 100%;
    background-color: rgb(182, 182, 182);
}

footer h3 {
    font-size: 1.4rem;
    color: #505050;
    text-align: start;
    line-height: 1rem;
}

.footer-container {
    display: grid;
    grid-auto-flow: column;
    padding: 3.5rem 3.5rem;
    justify-content: space-evenly
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 0.80rem;
    list-style: none;

}

.footer-li {
    font-size: small;
}

.footer-a {
    text-decoration: none;
    color: #505050;
}

.footer-socialmidia {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 20px;
    gap: 1.2rem;

}

.footer-socialmidia .footer-link {
    color: #727171;


}

.footer-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #f5f5f9;
    text-align: center;
    font-size: small;
}

.footer-copy span {
    margin-inline-start: 2rem;
}
.selo-ibama {
    display: flex;
    align-items: center;
    margin-inline-end: 2rem;
}

.selo-ibama img{
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 430px) { 
    footer {
        width: 100%;
        height: 100%;

    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 5.5rem;
        gap: 2rem;
    }

    .footer-ul {
        height: 100%;
        width: 100%;
    }

    .footer-copy {
        flex-direction: column;
    }

    .footer-copy span {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 430px) and (max-width: 835px) {
    /* Footer */

    footer {
        min-height: 30vh;
    }

    .footer-container {
        padding-left: 25px;
        padding-right: 25px;
        gap: 15px;
    }
}