body {
  font-family: sans-serif;
}

header {
  height: 100vh;
  background-image: url("/imagens/IMG-20240514-WA0008.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    /* border: 1px solid red; */
}

.logo img {
    width: 141px;
    height: 118px;
}

#menu ul {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 2rem;
    height: 52px;
    margin-inline-end: 3rem;
}

#menu ul li{
    height: 100%;
    display: inline-flex;
    align-items: center;
}

#menu ul a{
    color: #fff;
    text-decoration: none;
}

#menu ul li:last-child a{
    background-color: #000000;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70%;
}
.container-menu{
    backdrop-filter: blur(2px);
}
/* Sessão artigos */
