body {
  /* background-color: rgba(58, 153, 153, 0.76); */
  color: white;
  font-family: sans-serif;
}

header {
  background-image: url("/imagens/WhatsApp\ Image\ 2024-05-14\ at\ 10.12.11.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  z-index: -100;
}

video {
  overflow-x: hidden;
}

.container-menu {
  position: absolute;
  top: 90px;
  height: 70px;
  width: 100vw;
  flex-flow: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.menu-navbar > ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 10px;
  padding: 10px;
  transition: all 300ms;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

li:hover {
  background-color: rgb(43, 112, 112);
  transform: scale(1.05);
}

li:active {
  transform: scale(0.9);
}

.logo-texto {
  position: absolute;
  top: calc(85% - 50px);
  left: 45%;
  font-size: 3rem;
}
.btn-menu-sanduba {
  display: none;
}

@media all and (max-width: 400px) {
  body {
    min-width: 100vw;
    height: 100vh;
  }
  header {
    background-image: url("/imagens/WhatsApp\ Image\ 2024-05-14\ at\ 10.12.11.jpeg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    height: 100vh;
    z-index: -100;
  }
  .container-menu {
    min-width: 100%;
  }
 
}   
/* Sessão artigos */

 